  <br/>
  <div class="col-md-12">
  <div class="col-md-12 text-center">
	  <p style="text-align:justify; font-size:1.2em" >
	I strive to impact the world of Internet Start-Ups, Software Architecture and Development,  e-Commerce and Information Technology.  After receiving a Bachelor of Arts Degree in Computer Science and Economics from NYU in 2010, I have worked to help transform ideas into reality by architecting and developing mobile apps, e-Commerce platforms, Websites, Desktop Software, and more. In the process, I have helped in the process of building businesses from the ground up and achieve profitability.  I am a strong proponent of the open-source software community and also recognize the power of propietary software.  I believe in the power of Modern Computing, Networking, Telecommunications, Marketing, Social Media and Commerce for bringing people and markets closer.
  </p>
  <br/>
	  <p style="text-align:justify; font-size:1.2em" >
	  From an early age, I have had a strong interest in Mathematics, Computers and the Internet which led me to New York University to pursue Mathematics.  While at NYU, I discovered Computer Science and discovered that it was a natural extension of my abilities with Math.  Pretty soon I was able to pick up the knowledge required to understand how modern computing works and how global networking has changed the technological and social landscape of today.  In the meantime, a lifelong insterest in commerce, particularly of the nascent online variety, and small to mid-sized businesses helped to determine what path I would pursue in my professional life after college.  
	  </p>
  <br/>
	  <p style="text-align:justify; font-size:1.2em" >
	  After graduating with a Joint degree in Economics and Computer Science, I jumped right into the world of Internet Start-ups, focusing on e-Commerce and mobile applications. Today, I continue to work alongside business owners and people with promising ideas for new businesses and software.  As I continually work towards developing my technical skills, I enjoy learning from  others with an expertise in a variety of fields.
	  </p>
  <br/>
	  <p style="text-align:justify; font-size:1.2em" >
	My hobbies include: music production, programming, soccer, arduino, travelling  and reading.
	  </p>
  <br/>

  </div>
  </div>
  <br/>
  <br/>
  <div class="col-md-12">
	  <div class="col-md-3 pull-left"><a class="btn btn-primary btn-large" href="#/portfolio">View Portfolio &raquo;</a></div>
	  <div class="col-md-6"></div>
	  <div class="col-md-3 pull-right"><a class="btn btn-primary btn-large pull-right" href="#/resume">View Resume &raquo;</a></div>
	</div>
</div>
<br/><br/>
