<div class="col-md-12">

	<div class="col-md-2 project-images">
	</div>
		<div class="col-md-8 project-title">
			<div class="row">
				<h2>API Builder Framework</h2>
			</div>
			<br/>
		<div class="row">
			<div class="project-role">
				<strong>Role:</strong> Lead Backend Developer, DBA, System Administrator
			</div>
			<div class="project-technologies">
				<strong>Technologies:</strong> PHP, MySQL, PEAR DB, JSON, ImageMagick, CSS3
			</div>
			<div class="project-url">
                <dt>
                    <strong>URL(s):</strong>
                </dt>
                <dd>
                    <a target="_blank" href="http://">GitHub Repo</a>
                </dd>
        </div>
		</div>
		<br/>
		<div class="row">
			<div class="col-xs-project-description">
					<p>
					Under Construction
					</p>
			</div>
		</div>
		</div>
</div>
