<div class="col-md-12 ">

<div id="bb-carousel" class="project carousel slide col-md-5 project-images">
<div class="carousel-inner">
            <div class="item active">
                <a data-toggle="lightbox" href="#bb_lightbox_1">
                    <img src="/img/portfolio/bb_1.jpeg" alt="" />
                    <div class="carousel-caption">
                        <p>Babeebook App</p>
                    </div>
                </a>
                <div id="bb_lightbox_1" class="lightbox hide "  tabindex="-1" role="dialog" aria-hidden="true">
                    <div class='lightbox-header'>
                                <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
                    </div>
                    <div class="lightbox-content">
                        <img src="/img/portfolio/bb_1.jpeg" alt="" />                   
					 </div>
                </div>  
            </div>


            <div class="item ">
                <a data-toggle="lightbox" href="#bb_lightbox_2">
                    <img src="/img/portfolio/bb_2.jpeg" alt="" />
                    <div class="carousel-caption">
                        <p>Babeebook App</p>
                    </div>
                </a>
                <div id="bb_lightbox_2" class="lightbox hide "  tabindex="-1" role="dialog" aria-hidden="true">
                    <div class='lightbox-header'>
                                <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
                    </div>
                    <div class="lightbox-content">
                        <img src="/img/portfolio/bb_2.jpeg" alt="" />                   
					 </div>
                </div>  
            </div>

            <div class="item ">
                <a data-toggle="lightbox" href="#bb_lightbox_3">
                    <img src="/img/portfolio/bb_3.jpeg" alt="" />
                    <div class="carousel-caption">
                        <p>Babeebook App</p>
                    </div>
                </a>
                <div id="bb_lightbox_3" class="lightbox hide "  tabindex="-1" role="dialog" aria-hidden="true">
                    <div class='lightbox-header'>
                                <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
                    </div>
                    <div class="lightbox-content">
                        <img src="/img/portfolio/bb_3.jpeg" alt="" />                   
					 </div>
                </div>  
            </div>
		</div>
		 <a class="carousel-control left" href="#bb-carousel" data-slide="prev">‹</a>
		<a class="carousel-control right" href="#bb-carousel" data-slide="next">›</a>
	</div>
	<div class="col-md-1"><br/></div>
		<div class="col-md-6 project-title">
				<h2>Babeebook</h2>
			<br/>
			<div class="project-role">
				<strong>Role:</strong> Lead Backend Developer, DBA, System Administrator
			</div>
			<div class="project-technologies">
				<strong>Technologies:</strong> PHP, MySQL, PEAR DB, JSON, ImageMagick, CSS3
			</div>
			<div class="project-url">
				<dt>
					<strong>URL(s):</strong> 
				</dt>
				<dd>
					<a target="_blank" href="https://itunes.apple.com/app/babe-e-book/id539694051?mt=8">iTunes App Store</a>
				</dd>
				<dd>
					<a target="_blank" href="http://www.babeebook.com">Babeebook.com</a>
				</dd>
		</div>
		<br/>
		<div class="">
			<div class="col-xs-project-description">
				<p>
					Babeebook was launched in 2013 as a way for parents to store and share videos, images and posts about their children.
					</p>
					<p>
						As lead backend developer for this project, it was my goal to setup an API for the iOS app to send and receive data between our hosted server.  The project required for users to be able to create accounts, integrate with Facebook and Twitter APIs in order to upload media and share news about their children with authorized friends and followers.  This app is similar to Instagram in how your social network is created and expanded although with the ability to upload and post more than just pictures.
					</p>
					<p>
						This project used my API Builder Framework to seamlessly and near effortlessly create an organized and verifiable Web Application programming interface that handled media uploads and various account management features.   
					</p>
			</div>	
		</div>
		</div>
</div>
