<div class="col-md-12">

	<div id="bo-carousel" class="project carousel slide col-md-5 project-images">
		<div class="carousel-inner">
					<div class="item active">
						<a data-toggle="lightbox" href="#bo_lightbox_1">
							<img src="/img/portfolio/boothify_1.png" alt="" />
							<div class="carousel-caption">
								<p>Boothify Moderation App</p>
							</div>
						</a>
						<div id="bo_lightbox_1" class="lightbox hide "  tabindex="-1" role="dialog" aria-hidden="true">
							<div class='lightbox-header'>
										<button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
							</div>
							<div class="lightbox-content">
								<img src="/img/portfolio/boothify_1.png" alt="" />
							 </div>
						</div>
					</div>
					<div class="item ">
						<a data-toggle="lightbox" href="#bo_lightbox_2">
							<img src="/img/portfolio/boothify_2.png" alt="" />
							<div class="carousel-caption">
								<p>Boothify Moderation App</p>
							</div>
						</a>
						<div id="bo_lightbox_2" class="lightbox hide "  tabindex="-1" role="dialog" aria-hidden="true">
							<div class='lightbox-header'>
										<button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
							</div>
							<div class="lightbox-content">
								<img src="/img/portfolio/boothify_2.png" alt="" />
							 </div>
						</div>
					</div>
					<div class="item ">
						<a data-toggle="lightbox" href="#bo_lightbox_3">
							<img src="/img/portfolio/boothify_3.png" alt="" />
							<div class="carousel-caption">
								<p>Boothify Moderation App</p>
							</div>
						</a>
						<div id="bo_lightbox_3" class="lightbox hide "  tabindex="-1" role="dialog" aria-hidden="true">
							<div class='lightbox-header'>
										<button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
							</div>
							<div class="lightbox-content">
								<img src="/img/portfolio/boothify_3.png" alt="" />
							 </div>
						</div>
					</div>
					<div class="item ">
						<a data-toggle="lightbox" href="#bo_lightbox_4">
							<img src="/img/portfolio/boothify_4.png" alt="" />
							<div class="carousel-caption">
								<p>Boothify Moderation App</p>
							</div>
						</a>
						<div id="bo_lightbox_4" class="lightbox hide "  tabindex="-1" role="dialog" aria-hidden="true">
							<div class='lightbox-header'>
										<button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
							</div>
							<div class="lightbox-content">
								<img src="/img/portfolio/boothify_4.png" alt="" />
							 </div>
						</div>
					</div>
					<div class="item ">
						<a data-toggle="lightbox" href="#bo_lightbox_5">
							<img src="/img/portfolio/boothify_5.png" alt="" />
							<div class="carousel-caption">
								<p>Boothify iPad App</p>
							</div>
						</a>
						<div id="bo_lightbox_5" class="lightbox hide "  tabindex="-1" role="dialog" aria-hidden="true">
							<div class='lightbox-header'>
										<button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
							</div>
							<div class="lightbox-content">
								<img src="/img/portfolio/boothify_5.png" alt="" />
							 </div>
						</div>
					</div>
					<div class="item ">
						<a data-toggle="lightbox" href="#bo_lightbox_6">
							<img src="/img/portfolio/boothify_6.png" alt="" />
							<div class="carousel-caption">
								<p>Boothify NBCU Event</p>
							</div>
						</a>
						<div id="bo_lightbox_6" class="lightbox hide "  tabindex="-1" role="dialog" aria-hidden="true">
							<div class='lightbox-header'>
										<button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
							</div>
							<div class="lightbox-content">
								<img src="/img/portfolio/boothify_6.png" alt="" />
							 </div>
						</div>
					</div>
            </div>

			<a class="carousel-control left" href="#bo-carousel" data-slide="prev">‹</a>
        <a class="carousel-control right" href="#bo-carousel" data-slide="next">›</a>
	</div>
	<div class="col-md-1"><br/></div>
		<div class="col-md-6 project-title">
				<h2>Boothify.me</h2>
			<br/>
			<div class="project-role">
				<strong>Role:</strong> Lead Backend Developer, iOS engineer
			</div>
			<div class="project-technologies">
				<strong>Technologies:</strong> PHP, MySQL, nodeJS, ruby, iOS 
			</div>
			<div class="project-url">
                <dt>
                    <strong>URL(s):</strong>
                </dt>
                <dd>
                    <a target="_blank" href="http://www.boothify.me">Boothify.me</a>
                </dd>
			</div>
		<br/>
			<div class="col-xs-project-description">
				<p>
					Boothify.me was launched as a private iPad app to be made available for events as a social photo booth.  By allowing event-goers to take pictures that immediately became available online, participants are able to share their experiences at these events instantly within their social networks.  Boothify.me was developed at Prolific Interactive in Brooklyn, NY as an internal project.  
					</p>
					<p>
					As lead backend developer at Prolific Interactive, I inherited this project and was in charge of re-architeching the PHP and iOS code base, simplifying the setup process for new events as they came in, and developing custom solutions for clients of Boothify such as NBC for their Healthy Week in Union Square event.  
					</p>
					<p>It was my goal to set-up a system where multiple events could be happening simulataneously, all connecting to the same servers, and run seamlessly.  This was accomplished by modifying the iPad app, creating a moderation iPhone app, and setting up a simple yet extensive PHP framework for generating event pages and handling new image submissions. 
					</P>
					<p>
					</p>
			</div>
		</div>
		</div>
</div>
