<div class="col-md-12">

	<div class="col-md-2 project-images">
	</div>
		<div class="col-md-8 project-title">
			<div class="row">
				<h2>DB Auto-Backup</h2>
			</div>
			<br/>
		<div class="row">
			<div class="project-role">
				<strong>Role:</strong> Lead Developer, Database Schema Designer 
			</div>
			<div class="project-technologies">
				<strong>Technologies:</strong> Ruby, MySQL, SSH, gzip
			</div>
			<div class="project-url">
                <dt>
                    <strong>URL(s):</strong> 
                </dt>
                <dd>
                    <a target="_blank" href="https://github.com/mm0/DB-AutoBackup">Github Repo</a>
                </dd>
        </div>
		</div>
		<br/>
		<div class="row">
			<div class="col-xs-project-description">
				<p>
				This project is a command-line utility for automating various DBA administration tasks such as creating and restoring backups locally, remotely, for all your servers and utilizes SSH for automation through Crons, etc. 
					</p>
					<p>
					Over the years as a system and database adminstrator, it became apparent that various DBA tasks would eventually be needed for a virtually any project one would work on.  Those tasks usually have to do with backing up and restoring databases, setting up replication, modifying schema, etc.  
					</p>
					<p>These tasks can take a lot of time to accomplish for someone with not very much experience, so the goal was to create a simple utility that would allow to manage all these tasks via command-line with only a one-time configuration of Server IP Addresses, credentials and database types and names.  
					</p>
			</div>
		</div>
		</div>
</div>
