<div class="col-md-12">

	<div id="gs-carousel" class="project carousel col-md-5 project-images">
		<div class="carousel-inner">
			<div class="item active">
                <a data-toggle="lightbox" href="#gs_lightbox_1">
                    <img src="/img/portfolio/gas_1.jpeg" alt="" />
                    <div class="carousel-caption">
                        <p>GatherAndSave App</p>
                    </div>
                </a>
                <div id="gs_lightbox_1" class="lightbox hide "  tabindex="-1" role="dialog" aria-hidden="true">
                    <div class='lightbox-header'>
                                <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
                    </div>
                    <div class="lightbox-content">
                        <img src="/img/portfolio/gas_1.jpeg" alt="" />                   
                     </div>
                </div>  
            </div>
			<div class="item ">
                <a data-toggle="lightbox" href="#gs_lightbox_2">
                    <img src="/img/portfolio/gas_2.jpeg" alt="" />
                    <div class="carousel-caption">
                        <p>GatherAndSave App</p>
                    </div>
                </a>
                <div id="gs_lightbox_2" class="lightbox hide "  tabindex="-1" role="dialog" aria-hidden="true">
                    <div class='lightbox-header'>
                                <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
                    </div>
                    <div class="lightbox-content">
                        <img src="/img/portfolio/gas_2.jpeg" alt="" />                   
                     </div>
                </div>  
            </div>
			<div class="item ">
                <a data-toggle="lightbox" href="#gs_lightbox_3">
                    <img src="/img/portfolio/gas_3.jpeg" alt="" />
                    <div class="carousel-caption">
                        <p>GatherAndSave App</p>
                    </div>
                </a>
                <div id="gs_lightbox_3" class="lightbox hide "  tabindex="-1" role="dialog" aria-hidden="true">
                    <div class='lightbox-header'>
                                <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
                    </div>
                    <div class="lightbox-content">
                        <img src="/img/portfolio/gas_3.jpeg" alt="" />                   
                     </div>
                </div>  
            </div>
			
		</div>
 <a class="carousel-control left" href="#gs-carousel" data-slide="prev">‹</a>
        <a class="carousel-control right" href="#gs-carousel" data-slide="next">›</a>
	</div>
	<div class="col-md-1"><br/></div>
		<div class="col-md-6 project-title">
				<h2>Gatherandsave</h2>
			<br/>
			<div class="project-role">
				<strong>Role:</strong> Lead Backend Developer, DBA
			</div>
			<div class="project-technologies">
				<strong>Technologies:</strong> PHP, MySQL, PEAR DB, JSON, MapQuest API
			</div>
			<div class="project-url">
				<dt>
					<strong>URL(s):</strong> 
				</dt>
				<dd>
					<a target="_blank" href="https://itunes.apple.com/us/app/gas-gather-and-save/id624134930?mt=8">iTunes App Store</a>
				</dd>
				<dd>
					<a target="_blank" href="http://www.gatherandsave.com">Gatherandsave.com</a>
				</dd>
			</div>
		<br/>
			<div class="col-xs-project-description">
				<p>
					Gatherandsave was launched in 2013 as an iOS App designed to make ride sharing a snap.  The goal was for organizations such as schools, workplaces and local communities in general to connect people together and find rides or passengers nearby heading towards your destination.   
					</p>
					<p>
						As backend developer for this project, it was my task to setup the application logic to track users, locations, destinations and routers and provide ride search results for users to find people to ride with.  This project required the use of mathematics using data provided by MapQuest's API to find compatible rides in an efficient manner.  Caching of these calculated routes provided further efficiency to minimize the required amount of computationfor the computationally intensive algorithms required to make this possible.   
					</p>
					<p>
						This project utilized my API Builder in conjunction with my Query Engine Framework, in an advanced state to create data organized within a MySQL database and to provide a solid algorithmic structure to the project requirement.
					</p>
			</div>
		</div>
		</div>
</div>
