<div class="container">
  <div class="navbar-header">
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#/home">
			  <img height="50px" src="/img/2M_full.png" />
		  </a>
	</div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li class="about-menu"><a href="#/about">About</a></li>
          <li class="contact-menu"><a href="#/contact">Contact</a></li>
          <li class="resume-menu"><a href="#/resume">Resume</a></li>
          <li class="portfolio-menu"><a href="#/portfolio">Portfolio</a></li>
          <li class="links-menu"><a href="#/links">Links</a></li>
        </ul>
        <img class="ajax-loader" src="img/ajax-loader.gif" alt="Loading..." />
      </nav><!--/.nav-collapse -->
  </div>
</div>
