<!--  Carousel - consult the Twitter Bootstrap docs at
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
<div id="home-carousel" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
      <img src="/img/mybanner.png" alt="" />
      <div class="carousel-caption ">
		  <p><a href="#portfolio" class="white">View My Portfolio.</a></p>
      </div>
    </div>
    <div class="item "><!-- class of active since it's the first item -->
      <img src="/img/gatherandsave.jpg" alt="" />
      <div class="carousel-caption ">
		  <p><a href="#/projects/gatherandsave" class="white">View Project.</a></p>
      </div>
    </div>
    <div class="item">
      <img src="/img/babeebook.jpg" alt="" />
      <div class="carousel-caption ">
		  <p><a href="#/projects/babeebook" class="white">View Project.</a></p>
      </div>
    </div>
    <div class="item">
      <img src="/img/vinport.jpg" alt="" />
      <div class="carousel-caption ">
		  <p><a href="#/projects/vinport" class="white">View Project.</a></p>
      </div>
    </div>
    <div class="item">
      <img src="/img/wondermode.jpg" alt="" />
      <div class="carousel-caption ">
		  <p><a href="#/projects/wondermode" class="white">View Project.</a></p>
      </div>
    </div>
    <div class="item">
      <img src="/img/boothify.jpg" alt="" />
      <div class="carousel-caption ">
		  <p><a href="#/projects/boothify" class="white">View Project.</a></p>
      </div>
    </div>
    <div class="item">
      <img src="/img/prolific.jpg" alt="" />
      <div class="carousel-caption ">
		  <p><a href="#/projects/prolific" class="white">View Project.</a></p>
      </div>
    </div>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#home-carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#home-carousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->


