  <br/>
  <div class="col-md-12">
  <div class="text-center">
  <a target="_blank" href="http://www.linkedin.com/pub/matthew-margolin/47/607/a72">
	        
	            <img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.png" width="160" height="33" border="0" alt="View Matthew Margolin's profile on LinkedIn">
				        
				    </a>
  </div>
  <br/>
  <br/>
  <div class="text-center">
  <a target="_blank" href="http://www.bitbucket.org/mm_"><img height="45px" src="/img/logoBitBucketPNG.png"/></a>
  </div>
  <br/>
  <br/>
  <div class="text-center">
  <a target="_blank" href="http://stackoverflow.com/users/1196533/mm"><img height="45px" src="/img/so-logo.png"/></a>
  </div>
  <br/>
  <br/>
  <div class="text-center">
  <a target="_blank" href="http://github.com/mm0"><img height="45px" src="/img/githublogo.png" /><a>
  </div>
  </div>
