<div class="col-md-12">

	<div class="col-md-2 project-images">
	</div>
		<div class="col-md-8 project-title">
			<div class="row">
				<h2>MUBY</h2>
			</div>
			<br/>
		<div class="row">
			<div class="project-role">
				<strong>Role:</strong> Owner, Lead Developer
			</div>
			<div class="project-technologies">
				<strong>Technologies:</strong> Ruby, SQLite 
			</div>

		<div class="project-url">
                <dt>
                    <strong>URL(s):</strong>
                </dt>
                <dd>
                    <a target="_blank" href="http://">GitHub Project</a>
                </dd>
        </div>
		</div>
		<br/>
		<div class="row">
			<div class="col-xs-project-description">
					<p>
					Under Construction
					</P>
			</div>
		</div>
		</div>
</div>
