<div class="col-md-12">
	<div id="mt-carousel" class="project carousel slide col-md-5 project-images">
		<div class="carousel-inner">
			 <div class="item active">
                <a data-toggle="lightbox" href="#mt_lightbox_1">
                    <img src="/img/portfolio/mt_0.png" alt="" />
                    <div class="carousel-caption">
                        <p>MyTowns Admin Panel</p>
                    </div>
                </a>
                <div id="mt_lightbox_1" class="lightbox hide "  tabindex="-1" role="dialog" aria-hidden="true">
                    <div class='lightbox-header'>                                <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
                    </div>                    <div class="lightbox-content">
                        <img src="/img/portfolio/mt_0.png" alt="" />                   
                     </div>                </div>
            </div>

			<div class="item ">
                <a data-toggle="lightbox" href="#mt_lightbox_2">
                    <img src="/img/portfolio/mt_1.jpeg" alt="" />
                    <div class="carousel-caption">
                        <p>MyTowns App</p>
                    </div>
                </a>
                <div id="mt_lightbox_2" class="lightbox hide "  tabindex="-1" role="dialog" aria-hidden="true">
                    <div class='lightbox-header'>
                                <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
                    </div>
                    <div class="lightbox-content">
                        <img src="/img/portfolio/mt_1.jpeg" alt="" />                   
                     </div>
                </div>
            </div>

			<div class="item ">
                <a data-toggle="lightbox" href="#mt_lightbox_3">
                    <img src="/img/portfolio/mt_2.jpeg" alt="" />
                    <div class="carousel-caption">
                        <p>MyTowns App</p>
                    </div>
                </a>
                <div id="mt_lightbox_3" class="lightbox hide "  tabindex="-1" role="dialog" aria-hidden="true">
                    <div class='lightbox-header'>
                                <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
                    </div>
                    <div class="lightbox-content">
                        <img src="/img/portfolio/mt_2.jpeg" alt="" />                   
                     </div>
                </div>
            </div>
			<div class="item ">
                <a data-toggle="lightbox" href="#mt_lightbox_4">
                    <img src="/img/portfolio/mt_3.jpeg" alt="" />
                    <div class="carousel-caption">
                        <p>MyTowns App</p>
                    </div>
                </a>
                <div id="mt_lightbox_4" class="lightbox hide "  tabindex="-1" role="dialog" aria-hidden="true">
                    <div class='lightbox-header'>
                                <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
                    </div>
                    <div class="lightbox-content">
                        <img src="/img/portfolio/mt_3.jpeg" alt="" />                   
                     </div>
                </div>
            </div>

		</div>


	 <a class="carousel-control left" href="#mt-carousel" data-slide="prev">‹</a>
        <a class="carousel-control right" href="#mt-carousel" data-slide="next">›</a>
	</div>
	<div class="col-md-1"><br/></div>
		<div class="col-md-6 project-title">
				<h2>Fox News MyTowns App</h2>
			<br/>
			<div class="project-role">
				<strong>Role:</strong> Lead Backend Developer, DBA, System Administrator
			</div>
			<div class="project-technologies">
				<strong>Technologies:</strong> PHP, MySQL, PEAR DB, JSON, ImageMagick, FFMPEG, CSS3, jQuery
			</div>
			<div class="project-url">
                <dt>
                    <strong>URL(s):</strong> 
                </dt>
                <dd>
                    <a target="_blank" href="https://itunes.apple.com/us/app/mytowns/id556153875?mt=8">iTunes App Store</a>
                </dd>
			</div>
		<br/>
			<div class="col-xs-project-description">
				<p>
				MyTowns was launched in 2012 in collaboration with Fox CT as an App for fans of the news station to stay up-to-date on their local news. The App offered many features such as local reviews and personalized push notifications for local news, in addition to the ability to submit "Reports" to Staff including images, videos, location information, and other descriptions that could potentially become "Featured" reports within the App and even become featured on TV.  The App also included the ability to send targeted Sponsored Push Notifications to users as well as Notifications regarding current hashtags and trends.
					</p>
					<p>
						My role in this project was that of Lead Back End Developer.  It was my responsibility to design the database schema for this project to store user information, preferences, locations data, etc and connect this to an external private API that the Mobile App itself would connect to.  In addition to this, several features required an administration Panel for Staff of Fox CT to moderate Users Reports, set trending hashtags, deliver scheduled Sponsored Push Notifications and designate specific reports as featured.  This project also featured a lot of XML feed parsing to create customized local feeds for users and also required efficient indexing and storing within our databases.  
					</p>
					<p>
						This project utilized the API Builder and Query Engine Frameworks to create an easy to use and easily manageable API, useable by both the Mobile App and Admnistrative Panel by authorized users.
					</p>
			</div>
		</div>
		</div>
</div>
