	<br/>
	<div class="col-md-12">
  <div class="col-md-12">
	  <div class="col-md-4 portfolio-single">
		  <div class='card'>
			<div class="front">
			  <a href="#/projects/wondermode">
				<div class="span3 portfolio-single-name">
					<img src="/img/portfolio/wondermode.png"/>
				</div>
				</a>
			</div>
			<!--		
			<div class="back">
			  <a href="#/projects/wondermode">
				<img src="/img/portfolio/wm.png"/>
				</a>
			</div>
			-->
		</div>
	  </div>
  <div class="col-md-4 portfolio-single">
		  <div class='card'>
		  <div class='front'>
			<div class="span3 portfolio-single-name">
			  <a href="#/projects/vinport">
					<img src="/img/portfolio/vinport.png"/>
				</a>
			</div>
		</div>
			<!--		
		  <div class='back'>
			  <a href="#/projects/vinport">
				  <img src="/img/portfolio/vp.png"/>
				</a>
			</div>
			-->
		</div>
  </div>
  <div class="col-md-4 portfolio-single">
		  <div class='card'>
		  <div class='front'>
			<div class="span3 portfolio-single-name">
			  <a href="#/projects/babeebook">
				<img src="/img/portfolio/babeebook.png" />
				</a>
			</div>
		</div>
			<!--		
		<div class='back'>
			<a href="#/projects/babeebook">
				<img src="/img/portfolio/bb.png" />
			</a>
		</div>
		-->
		</div>
</div>
  </div>
	  <div class="col-md-12">
  <div class="col-md-4 portfolio-single">
		  <div class='card'>
		  <div class='front'>
	<div class="span3 portfolio-single-name">
			  <a href="#/projects/gatherandsave">
				<img src="/img/portfolio/gatherandsave.png"/>
				</a>
	</div>
</div>
			<!--		
<div class='back'>
			  <a href="#/projects/gatherandsave">
				<div class="span3 portfolio-single-role">
			Senior Backend Developer
				</div>
				<div class="span6 portfolio-single-description">
			Used API Builder Framework to design and develop backend API for iPhone App.  Used Twitter Bootstrap to quickly implement Admin Panel.
				</div>
			</a>
</div>
-->
</a>
</div>
  </div>
  <div class="col-md-4 portfolio-single">
		  <div class='card'>
			<div class="front">
			  <a href="#/projects/mytowns">
				<div class="span3 portfolio-single-name">
					<img src="/img/portfolio/mytowns.png" alt="Fox MyTowns App"	/>
				</div>
			</a>
			</div>
		</div>
  </div>
  <div class="col-md-4 portfolio-single">
		  <div class='card'>
			<div class="front">
			  <a href="#/projects/boothify">
				<div class="span3 portfolio-single-name">
					<img src="/img/portfolio/boothify.png" alt="Boothify.me" />
				</div>
				</a>
			</div>
		  </div>
	  </div>
  </div>
	  <div class="col-md-12">
  <div class="col-md-4 portfolio-single">
		  <div class='card'>
			<div class="front">
			  <a href="#/projects/prolific">
				<div class="span3 portfolio-single-name">
					<img src="/img/portfolio/prolific.png" alt="Prolific Interactive" />
				</div>
			</a>
			</div>
		</div>
  </div>
  <div class="col-md-4 portfolio-single">
		  <div class='card'>
			<div class="front">
			  <a href="#/projects/googledrive">
				<div class="span3 portfolio-single-name">
					Google Drive API SDK (Node.js)	
				</div>
			</a>
			</div>
		  </div>
  </div>
  <div class="col-md-4 portfolio-single">
		  <div class='card'>
			<div class="front">
			  <a href="#/projects/dbautobackup">
				<div class="span3 portfolio-single-name">
					DB Auto-Backup (Ruby)
				</div>
			</a>
			</div>
		  </div>
	  </div>
  </div>
  <div class="col-md-12">
		  <div class="col-md-4 portfolio-single">
			  <div class='card'>
				<div class="front">
				  <a href="#/projects/queryengine">
					<div class="span3 portfolio-single-name">
						QueryEngine Framework 	
					</div>
				</a>
				</div>
			  </div>

  </div>
		  <div class="col-md-4 portfolio-single">
			  <div class='card'>
				<div class="front">
				  <a href="#/projects/apibuilder">
					<div class="span3 portfolio-single-name">
						API Builder Framework 	
					</div>
				</a>
				</div>
			  </div>
		  </div>
		  <div class="col-md-4 portfolio-single">
			  <div class='card'>
				<div class="front">
				  <a href="#/projects/muby">
					<div class="span3 portfolio-single-name">
						MUBY
					</div>
				</a>
				</div>
			  </div>
		  </div>
	  </div>
