<div class="col-md-12">

	<div class="col-md-4 project-images">
		<img src="/img/portfolio/prolific_logo.png"/>
	</div>
	<div class="col-md-1"><br/></div>
		
		<div class="col-md-7 project-title project ">
				<h2>Prolific Interactive</h2>
			<br/>
			<div class="project-role">
				<strong>Role:</strong> Lead Backend Developer, DBA, System Administrator
			</div>
			<div class="project-technologies">
				<strong>Technologies:</strong> PHP, MySQL, Magento, jQuery, node.js, Ruby, MongoDB, Bash, Backbone.js, Bootstrap, Google/Facebook/Twitter APIs
			</div>
			<br/>
			<div class="col-xs-project-description">
				<p>
				I joined Prolific Interactive in 2012 with the role of Lead Developer, and eventually migrating into the role of Lead Back End Engineer.  From the day I initially joined the small company, there would be endless opportunities to pick up new technologies and development techniques.  During my time there I developed new techniques to enable this mobile dev shop to run efficiently and become able to meet deadlines with ease.   
					</p>
					<p>
					The main frameworks I developed for this company were the open-source APIBuilder Framework and QueryEngine Framework.  These frameworks developed out of a need to build a standardized RESTful API for every App that we built and be able to organize the application logic in a way that would be easy to work with and minimize the amount of future bugs that would arise.  With my forward thinking, we eventually arrived at a point where APIs would be developed so quickly that we began running out of projects to work on!  Luckily, this allowed for work hours to be dedicated to other internal projects that either generated revenue, such as our live event based, Boothify.me, or made the company more efficient, such as our own resource tracker.   
					</P>
					<p>
					Professionally, working at Prolific allowed me to stay up to date on current web and mobile trends and constantly challenge myself at the task of managing several ongoing projects at once.   As a developer, I was able to grow much more as a team player and also to help other colleagues to learn to think outside of the box when it comes to working on new projects to make their lives, and that of other developers that might end up working on legacy projects, easier. 
					</p>
			</div>
		</div>
		</div>
</div>
