<div class="col-md-12">

<!--	<div class="col-xs-6 project-images">
		images
	</div>
	-->
		<div class="col-md-2"></div>
		<div class="col-md-8 project-title">
			<div class="row">
				<h2>QueryEngine</h2>
			</div>
			<br/>
		<div class="row">
			<div class="project-role">
				<strong>Role:</strong> Visionary, Architect, Lead Developer
			</div>
			<div class="project-technologies">
				<strong>Technologies:</strong> PHP, MySQL, PEAR DB, JSON, XML
			</div>
		</div>
		<div class="project-url">
                <dt>
                    <strong>URL(s):</strong>
                </dt>
                <dd>
                    <a target="_blank" href="http://">GitHub Project URL</a>
                </dd>
        </div>
		<br/>
		<div class="row">
			<div class="col-xs-project-description">
				<p>
					QueryEngine arose out of the need for creating a better way of interacting with a (My)SQL after noticing patterns in the way data is accessed and manipulated within SQL. 
					</p>
					<p>
					With there being several ORM frameworks for PHP, PEAR (PHP Extension and APplication Repository) was chosen as a source for a minimal ORM framework that is easy enough for any PHP developer familiar with writing queries already, to use for interacting with a MySQL DB in an explicit, readable, and easy to use manner.  After becoming familiarized with this ORM framework, it became evident that many if not all actions related to a Database were reusable if modified in a simple way, ie. changing table name, fields for <i>retrieving</i> data from a table and <i>organizing</i> the result set in a preferred way.  
					</p>
					<p>This was motivation for creating a way of minimizing the need for writing a query or application logic over and over for every action on a DB.  All that was required, was recognizing the patterns within similar application logic methods and defining them as a general algorithm where you simply plug in values such as data source, validation functions, filtering functions, to use for that specific algorithm. The result was QueryEngine.  Simply Write a <i>type</i> of algorithm once, recognize what logic this and reuse this logic for any project or function.   
					</P>
					<p>
						This may seem complicated to many developers, but I am confident that this is an extreme time saver and efficient way of managing any application that deals with a database.  SImply configure a function type, and then reuse this later in any project.
					</p>
			</div>
		</div>
		</div>
</div>
