	<br/>
	<div class="col-md-12">
<div class="resume-header">
			<div class="left">
				<div class="resume-name">Matt Margolin</div>
				<br/>
				<div class="resume-location">New York, NY, USA</div>
			</div>
			<div class="right">
				<div class="resume-email"><a href="mailto:matt.margolin@gmail.com">matt.margolin@gmail.com</a></div>
				<br/>
				<div class="resume-url"><a href="">http://2m.io</a></div>
			</div>
			<div class="clear"></div>
			<br/><br/>
		</div>
		<div class="resume-info">
			<div class="col-md-6">I am a professional and dependable technology consultant, developer and project manager.</div>
			<div class="col-md-6"></div>
			<div class="clear"></div>
			<br/>
			<div class="col-md-6">I continue to work with multiple clients and companies to provide the tech infrastructure and software development services required to start and manage successful online businesses.</div>
			<div class="col-md-6"></div>
			<div class="clear"></div>
			<br/>
			<div class="col-md-6">My passions are Tech Start-Ups, Software, Hardware, Music, Management and Technology.</div>
			<div class="col-md-6"></div>
			<div class="clear"></div>
			<br/>
		</div>
		<br/>
		<div class="resume-work">
			<h3>WORK EXPERIENCE</h3>
			<br/>
				<div class="resume-work-single">
					<div class="left">
						<div class="resume-work-single-location">New York, NY</div>
						<div class="resume-work-single-dates">March 2013 - Present</div>
					</div>
					<div class="right">
						<div class="resume-work-single-company">Vinport Marketing</div>
						<div class="resume-work-single-title">Lead Developer, Consultant</div>
						<div class="resume-work-single-description">Act as lead software developer and administrator in helping build e-commerce platform.  Perform wide range of duties from Project Management to software architecting and development using various technologies. Administer MySQL and Mongo Databases. Manage and configure servers on Amazon’s EC2. Build custom extensions for Magento and for analytics.  Provide continuous maintenance, monitoring and improvement of business technology.
					</div>
				</div>
			<div class="clear"></div>
				<br/>
				<div class="resume-work-single">
					<div class="left">
						<div class="resume-work-single-location">Brooklyn, NY</div>
						<div class="resume-work-single-dates">February 2012 - March 2013</div>
					</div>
					<div class="right">
						<div class="resume-work-single-company">Prolific Interactive</div>
						<div class="resume-work-single-title">Lead Backend Developer</div>
						<div class="resume-work-single-description">Acted as lead software developer and administrator in helping build the company into a interactive digital agency. Performed wide range of duties from Project Management to software architecting and development using various technologies. Lead projects like Babeebook.com, MyTowns, Boothify.me using a variety of technologies. Built several APIs using custom framework for iPhone Apps. Developed internal projects, frameworks and libraries designed for reusability. Administered MySQL and Mongo Databases. Managed and configured servers on Amazon’s EC2. Used Git for source-code management and collaboration. Used Pivotal Tracker for use with agile methodology and project management. </div>
					</div>
				</div>
			<div class="clear"></div>
				<br/>
				<div class="resume-work-single">
					<div class="left">
						<div class="resume-work-single-location">New York, NY</div>
						<div class="resume-work-single-dates">May 2011 - Present</div>
					</div>

					<div class="right">
						<div class="resume-work-single-company">Wondermode.com</div>
						<div class="resume-work-single-title">Lead Developer, Consultant</div>
						<div class="resume-work-single-description">Developed front end user interface and backend (LAMP) for high-end e-commerce fashion startup wonderMode.com launched in spring 2011. Administer Apache and Linux servers. Took the lead in Site-wide creation of custom PHP and jQuery modules for e-commerce shopping cart, user content management, and complete platform administration backend and interface. Complete development of required functionality, order and payment processing, shipping automation, and various API integrations and content management.</div>
					</div>
				</div>
			<div class="clear"></div>
				<br/>
				<div class="resume-work-single">
					<div class="left">
						<div class="resume-work-single-location">New York, NY</div>
						<div class="resume-work-single-dates">September 2010 - June 2011</div>
					</div>
					<div class="right">
						<div class="resume-work-single-company">Axis International Services</div>
						<div class="resume-work-single-title">Developer, Assistant Project Manager</div>
						<div class="resume-work-single-description">Developed various modules and plugins using jQuery and PHP for various projects and assisted in the front-end HTML/CSS coding. Helped manage local and outsourced team of developers and distributed tasks using the Agile Methodology. Provided continuous support and development on the improvement of various projects.</div>
					</div>
				</div>
			<div class="clear"></div>
				<br/>
				<div class="resume-work-single">
					<div class="left">
						<div class="resume-work-single-location">New York, NY</div>
						<div class="resume-work-single-dates">May 2010 - August 2010</div>
					</div>
					<div class="right">
						<div class="resume-work-single-company">US Department of Commerce, Bureau of the Census</div>
						<div class="resume-work-single-title">Technology Automation Clerk</div>
						<div class="resume-work-single-description">Provided maintenance on hundreds of computers and peripheral equipment in an administrative office environment. Executed duties including computer repair, remedy ticket management, administration of users and accounts, maintenance of various devices and software.</div>
					</div>
				</div>
			<div class="clear"></div>
				<br/>
				<div class="resume-work-single">
					<div class="left">
						<div class="resume-work-single-location">New York, NY</div>
						<div class="resume-work-single-dates">July 2008 – August 2010</div>
					</div>
					<div class="right">
						<div class="resume-work-single-company">NYU Liberal Studies Program</div>
						<div class="resume-work-single-title">Instructional Technology Coordinator Assistant and Webmaster</div>
						<div class="resume-work-single-description">Administered Blackboard, Educational Content Management System for common resources, used by the department. Developed and implemented online resource management of learning resources and media through web design, "blog" management, database development, and various technology/web projects.</div>
					</div>
				</div>
				<br/>
				<div class="resume-work-single">
					<div class="resume-work-single-location"></div>
					<div class="resume-work-single-company"></div>
					<div class="resume-work-single-dates"></div>
					<div class="resume-work-single-title"></div>
					<div class="resume-work-single-description"></div>
				</div>
			<div class="clear"></div>
				<br/>
			<br/>
			<h3>EDUCATION</h3>
			<br/>
				<div class="resume-education-single">
					<div class="left">
						<div class="resume-education-single-location">New York, NY</div>
						<div class="resume-education-single-dates">August 2006 - May 2010</div>
					</div>
					<div class="right">
						<div class="resume-education-single-school">New York University, College of Arts and Science</div>
						<div class="resume-education-single-major">BA Joint Economics and Computer Science</div>
						<div class="resume-education-single-minor">Math Minor</div>
					</div>
				</div>
			<div class="clear"></div>
				<br/>
			<br/>
			<h3>SKILLS</h3>
			<br/>	
			<div class="resume-skills-single">Project Management</div>
			<div class="resume-skills-single">E-Commerce Development</div>
			<div class="resume-skills-single">Analytics</div>
			<div class="resume-skills-single">Magento</div>
			<div class="resume-skills-single">Interspire Shopping Cart</div>
			<div class="resume-skills-single">PHP</div>
			<div class="resume-skills-single">Ruby</div>
			<div class="resume-skills-single">Java</div>
			<div class="resume-skills-single">Javascript</div>
			<div class="resume-skills-single">JQuery</div>
			<div class="resume-skills-single">Prototype</div>
			<div class="resume-skills-single">node.js</div>
			<div class="resume-skills-single">MySQL</div>
			<div class="resume-skills-single">MongoDB</div>
			<div class="resume-skills-single">DB Administration and Design</div>
			<div class="resume-skills-single">Full Stack</div>
			<div class="resume-skills-single">Scripting(Perl, Node.js, Ruby, Shell)</div>
			<div class="resume-skills-single">iOS Development</div>
			<div class="resume-skills-single">API Development</div>
			<div class="resume-skills-single">API Integration</div>
			<div class="resume-skills-single">Version Control</div>
			<div class="resume-skills-single">Git</div>
			<div class="resume-skills-single">Problem Solving</div>
			<div class="resume-skills-single">Custom Solutions</div>
			<div class="resume-skills-single">Development Environments</div>
			<div class="resume-skills-single">Vim</div>
			<div class="resume-skills-single">X-Code</div>
			<div class="resume-skills-single">Code Documentation</div>
			<div class="resume-skills-single">HTML5</div>
			<div class="resume-skills-single">CSS3</div>
			<div class="resume-skills-single">Bi-Lingual</div>
			<div class="resume-skills-single">Data-Reporting</div>
			<div class="resume-skills-single">Server Configuration</div>
			<div class="resume-skills-single">Agile</div>
			<div class="resume-skills-single">Scrum</div>
			<div class="resume-skills-single">Continuous Integration</div>
			<div class="resume-skills-single">Mobile App Development</div>
			<div class="resume-skills-single">Responsive Design</div>
			<div class="resume-skills-single">MVC Architecture</div>
		</div>
		</div>
<br/>
<br/>

