<div class="col-md-12 ">

	<div id="bb-carousel" class="project carousel slide col-md-5 project-images">
<div class="carousel-inner">
            <div class="item active">
                <a data-toggle="lightbox" href="#vp_lightbox_1">
                    <img src="/img/portfolio/vp_1.png" alt="" />
                    <div class="carousel-caption">
                        <p>Vinport.com Product Listing</p>
                    </div>
                </a>
                <div id="vp_lightbox_1" class="lightbox hide "  tabindex="-1" role="dialog" aria-hidden="true">
                    <div class='lightbox-header'>
                                <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
                    </div>
                    <div class="lightbox-content">
                        <img src="/img/portfolio/vp_1.png" alt="" />                   
					 </div>
                </div>  
            </div>


            <div class="item ">
                <a data-toggle="lightbox" href="#vp_lightbox_2">
                    <img src="/img/portfolio/vp_2.png" alt="" />
                    <div class="carousel-caption">
                        <p>Custom Rewards/Badges Extension</p>
                    </div>
                </a>
                <div id="vp_lightbox_2" class="lightbox hide "  tabindex="-1" role="dialog" aria-hidden="true">
                    <div class='lightbox-header'>
                                <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
                    </div>
                    <div class="lightbox-content">
                        <img src="/img/portfolio/vp_2.png" alt="" />                   
					 </div>
                </div>  
            </div>

            <div class="item ">
                <a data-toggle="lightbox" href="#vp_lightbox_3">
                    <img src="/img/portfolio/vp_3.png" alt="" />
                    <div class="carousel-caption">
                        <p>Vinport Gift Card Module</p>
                    </div>
                </a>
                <div id="vp_lightbox_3" class="lightbox hide "  tabindex="-1" role="dialog" aria-hidden="true">
                    <div class='lightbox-header'>
                                <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
                    </div>
                    <div class="lightbox-content">
                        <img src="/img/portfolio/vp_3.png" alt="" />                   
					 </div>
                </div>  
            </div>
            <div class="item ">
                <a data-toggle="lightbox" href="#vp_lightbox_4">
                    <img src="/img/portfolio/vp_4.png" alt="" />
                    <div class="carousel-caption">
                        <p>Vinport Magento Rewards Badges Panel</p>
                    </div>
                </a>
                <div id="vp_lightbox_4" class="lightbox hide "  tabindex="-1" role="dialog" aria-hidden="true">
                    <div class='lightbox-header'>
                                <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
                    </div>
                    <div class="lightbox-content">
                        <img src="/img/portfolio/vp_4.png" alt="" />                   
					 </div>
                </div>  
            </div>
		</div>
		 <a class="carousel-control left" href="#bb-carousel" data-slide="prev">‹</a>
		<a class="carousel-control right" href="#bb-carousel" data-slide="next">›</a>
	</div>
	<div class="col-md-1"><br/></div>
		<div class="col-md-6 project-title">

				<h2>Vinport.com</h2>
			<br/>
			<div class="project-role">
				<strong>Role:</strong> Lead Developer, System Administrator
			</div>
			<div class="project-technologies">
				<strong>Technologies:</strong> PHP, MySQL, Magento, Mailchimp, Prototype JS, jQuery, SOAP, Shipworks, CSS3
			</div>
			<div class="project-url">
                <dt>
                    <strong>URL(s):</strong> 
                </dt>
                <dd>
                    <a target="_blank" href="http://www.vinport.com">Vinport.com</a>
                </dd>
			</div>
			<br/>
			<div class="col-xs-project-description">
				<p>
					Vinport.com was launched in 2012 as a marketplace for limited deals on various wines from around the globe.  
					</p>
					<p>
						Vinport seeked to incorporate a model similar to daily deals site as well as a custom rewards platform for encouraging customers to become repeat customers and earn more and more discounts and rewards for their interaction on the site as well as their purchases.  	
					</P>
					<p>
						As lead developer, it was my goal to setup a storefront that would be seamlessly integrated with custom shipping and management solutions and develop custom features and extensions on top of Magento CE.	
					</p>
					<p>
					Implementation of custom extensions including customization of SweetTooth’s Reward platform was involved.  I Implemented designs in CSS3 and customized Magento templates, Back-End code and features. In addition to this, system administrator duties were my responsibility.
					</p>
			</div>
		</div>
		</div>
</div>
