<div class="col-md-12">
	<div id="wm-carousel" class="project carousel slide col-md-5 project-images">
		<div class="carousel-inner">
			<div class="item active">
				<a data-toggle="lightbox" href="#wm_lightbox_1">
					<img src="/img/portfolio/wm_brandpage.png" alt="Wondermode Brandpages" />
					<div class="carousel-caption">
						<p>Individual Brand Pages and Subdomain</p>
					</div>
				</a>
				<div id="wm_lightbox_1" class="lightbox hide "  tabindex="-1" role="dialog" aria-hidden="true">
					<div class='lightbox-header'>
						        <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
					</div>
					<div class="lightbox-content">
						<img src="/img/portfolio/wm_brandpage.png" alt="Wondermode Brandpages" />
					</div>
				</div>
			</div>

			<div class="item ">
				<a data-toggle="lightbox" href="#wm_lightbox_2">
					<img src="/img/portfolio/wm_productpage.png" alt="Wondermode Product Pages" />
					<div class="carousel-caption">
						<p>Individual Product Pages </p>
					</div>
				</a>
				<div id="wm_lightbox_2" class="lightbox hide "  tabindex="-1" role="dialog" aria-hidden="true">
					<div class='lightbox-header'>
						        <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
					</div>
					<div class="lightbox-content">
						<img src="/img/portfolio/wm_productpage.png" alt="Wondermode Product Pages" />
					</div>
				</div>
			</div>

			<div class="item ">
				<a data-toggle="lightbox" href="#wm_lightbox_3">
					<img src="/img/portfolio/wm_admin.png" alt="Wondermode Admin Panel" />
					<div class="carousel-caption">
						<p>Private Admin Panel</p>
					</div>
				</a>
				<div id="wm_lightbox_3" class="lightbox hide "  tabindex="-1" role="dialog" aria-hidden="true">
					<div class='lightbox-header'>
						        <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
					</div>
					<div class="lightbox-content">
						<img src="/img/portfolio/wm_admin.png" alt="Wondermode Admin Panel" />
					</div>
				</div>
			</div>
			<div class="item ">
				<a data-toggle="lightbox" href="#wm_lightbox_4">
					<img src="/img/portfolio/wm_1.png" alt="Wondermode Admin Panel" />
					<div class="carousel-caption">
						<p>Private Admin Panel</p>
					</div>
				</a>
				<div id="wm_lightbox_4" class="lightbox hide "  tabindex="-1" role="dialog" aria-hidden="true">
					<div class='lightbox-header'>
						        <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
					</div>
					<div class="lightbox-content">
						<img src="/img/portfolio/wm_1.png" alt="Wondermode Admin Panel" />
					</div>
				</div>
			</div>
			<div class="item ">
				<a data-toggle="lightbox" href="#wm_lightbox_5">
					<img src="/img/portfolio/wm_2.png" alt="Wondermode Admin Panel" />
					<div class="carousel-caption">
						<p>Private Admin Panel</p>
					</div>
				</a>
				<div id="wm_lightbox_5" class="lightbox hide "  tabindex="-1" role="dialog" aria-hidden="true">
					<div class='lightbox-header'>
						        <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
					</div>
					<div class="lightbox-content">
						<img src="/img/portfolio/wm_2.png" alt="Wondermode Admin Panel" />
					</div>
				</div>
			</div>
			<div class="item ">
				<a data-toggle="lightbox" href="#wm_lightbox_6">
					<img src="/img/portfolio/wm_3.png" alt="Wondermode Admin Panel" />
					<div class="carousel-caption">
						<p>Private Admin Panel</p>
					</div>
				</a>
				<div id="wm_lightbox_6" class="lightbox hide "  tabindex="-1" role="dialog" aria-hidden="true">
					<div class='lightbox-header'>
						        <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
					</div>
					<div class="lightbox-content">
						<img src="/img/portfolio/wm_3.png" alt="Wondermode Admin Panel" />
					</div>
				</div>
			</div>
			<div class="item ">
				<a data-toggle="lightbox" href="#wm_lightbox_7">
					<img src="/img/portfolio/wm_4.png" alt="Wondermode Admin Panel" />
					<div class="carousel-caption">
						<p>Private Admin Panel</p>
					</div>
				</a>
				<div id="wm_lightbox_7" class="lightbox hide "  tabindex="-1" role="dialog" aria-hidden="true">
					<div class='lightbox-header'>
						        <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
					</div>
					<div class="lightbox-content">
						<img src="/img/portfolio/wm_4.png" alt="Wondermode Admin Panel" />
					</div>
				</div>
			</div>
		</div>
			<a class="carousel-control left" href="#wm-carousel" data-slide="prev">‹</a>
			<a class="carousel-control right" href="#wm-carousel" data-slide="next">›</a>
	</div>
	<div class="col-md-1"><br/></div>
		<div class="col-md-6 project-title">
				<h2>wonderMode.com</h2>
			<br/>
			<div class="project-role">
				<strong>Role:</strong> Lead Developer, Sys Admin
			</div>
			<div class="project-technologies">
				<strong>Technologies:</strong> PHP, MySQL, Interspire Shopping Cart, jQuery
			</div>
			<div class="project-url">
					<dt>
						<strong>URL(s):</strong> 
					</dt>
					<dd>
						<a target="_blank" href="http://www.wondermode.com">Wondermode.com</a>
					</dd>
			</div>	
			<br/>
			<div class="col-xs-project-description">
				<p>
					wonderMode.com was founded in 2011 seeking to disrupt the high-end fashion market by creating an online platform for introducing fresh, up-and-coming designers from around the globe.
					</p>
					<p>
						As lead developer at wonderMode, it quickly became evident that a custom platform was required to be able to manage thousands of designers and their products while seeking to push the boundaries of e-Commerce.  This platform was setup to allow for maximum customization with minimal effort by administrators.
					</P>
					<p>
						Multiple custom CMS systems were integrated including: A user interface for designers to manage product uploads and custom brand pages including lookbooks and a separate storefront. An e-commerce platform to manage products available for sale and orders.  A custom interface to allow Administrators to approve designers, their products, generate invoices and track transactions.  
					</p>
					<p>
					I developed the Front-End User Interface and Back-End code.  I was also in charge of administration of Apache and Linux servers. Prominent features of this project include: order and payment processing, shipping automation, and various API integrations and content management.  
					 </p>
			</div>
		</div>
		</div>
</div>
